@font-face {
    font-family: Gilroy-Bold;
    src: url("../font/Gilroy-Bold.ttf");
}
@font-face {
    font-family: Gilroy-Regular;
    src: url("../font/Gilroy-Regular.ttf");
}
@font-face {
    font-family: Gilroy-Medium;
    src: url("../font/Gilroy-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
}

a {
    text-decoration: none;
    color:#828282;
}

a:active, a:hover{
    color: black;
}

.bg_gray {
    background: #F6F6F6;
}

main {
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

h3 {
    font-family: Gilroy-Medium;
    font-size: 34px;
    line-height: 42px;
    padding: 0;
    margin: 0;
    color: #070707;
}

.hidden {
    display: none;
}
