.edu_methods > div {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.edu_methods .features_container {
    display: grid;

    grid-template-columns: 400px auto 400px;
    grid-template-rows: 313px 290px;
    gap: 30px 29px;

    margin-top: 91px;
    margin-bottom: 89px;
}

.edu_methods .features_container > div > h4 {
    font-family: Gilroy SemiBold;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    margin-top: 55px;
    margin-bottom: 18px;

    margin-left: 100px;
}

.edu_methods .features_container > div > p {
    margin-bottom: 15px;
    margin-left: 100px;

    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}

.edu_methods .features_container > div > p:last-child {
    margin-bottom: 55px;
}

.method_icon1 {
    grid-column: span 1;
    width: 400px;
}

.method1 {
    grid-column: span 2;
}

.method2 {
    grid-column: span 2;
}
.method_icon2 {
    grid-column: 2 3;
}

.features_container > .feature_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
