header {
    /* background-color: #8f8f8f; */
    width: 100%;
    flex-direction: column;
    padding: 0 20px;

}
header * {
    font-size: 16px;
}

img.header_background{
    z-index: -1;
    overflow: visible;
    position: absolute;
    width: 1705px;
    height: 1705px;
    left: 9px;
    top: -173px;
}

.header_content {
    max-width: 1160px;
    width: 100%;
    margin-top: 12px;
    
    background-color: white;
    border-radius: 25px;
    height: 51px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    gap: 0 71px;
}

.header_content > a {
    margin-left: 21px;
}

header nav {
    display: flex;
    gap: 41px;
}

header a {
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-decoration: none;
    color: #3C3E50;
}
header a:hover {
    text-decoration: none;
}

.header_login_buttons {
    display: flex;
    align-items: center;
    margin: 0 11px;
}

.header_login_buttons > a {
    margin-right: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    /* margin-top: 9px; */
}

.header_login_buttons > button {
    /* margin-top: 9px; */
    background-color: #38BFF2;
    color: #fff;
    width: 78px;
    height: 31px;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;


    display: flex;
    align-items: center;
}
.header_login_buttons > button:hover {
    background-color: #F15525;
}

.header_login_buttons img {
    margin-left: 15px;
    margin-right: 4px;
}

.header_block {
    display: flex;
    width: 100%;
    max-width: 1160px;
    justify-content: space-between;
    align-items: center;
}


header h1 {
    font-size: 46px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Gilroy';
    margin-top: 70px;
    margin-bottom: 31px;
}

header h1 > span {
    font-family: 'Gilroy-MediumItalic';
    font-size: 46px;
    line-height: 46px;
    letter-spacing: 0em;
}
header h1 > span::before {
    content: "{";
    color: #F15525;
}
header h1 > span::after {
    content: "}";
    color: #F15525;
}

.header_block > div > p {
    max-width: 365.22px;
    padding-top: 15px;
    border-top: solid 1px #DEDEDE;
    margin-bottom: 18px;
}

.header_block > div > button {
    width: 321px;
    height: 70px;
    border-radius: 35px;
    background-color: #F15525;
    color: white;
    border: none;

    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.03em;
    text-align: center;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

}
.header_block > div > button:hover {
    background-color: #38BFF2;
}

.header_block > div > button > img {
    margin-left: 12px;

}

.header_block > img {
    display: block;
    margin-top: 61px;
    margin-bottom: 66px;
    float: right;
    width: 100%;
    max-width: 391px;
    min-width: 20px;
}
